In [1]:
import pandas as pd

In [2]:
# genome_scores = pd.read_csv('./genome-scores.csv')
# genome_tags = pd.read_csv('./genome-tags.csv')
# links = pd.read_csv('./links.csv')
# movies = pd.read_csv('./movies.csv')
# ratings = pd.read_csv('./ratings.csv')
# tags = pd.read_csv('./tags.csv')
data = pd.read_csv('GroupLensData_clean.csv')
data

,userId,movieId,rating,timestamp_x,tag,timestamp_y,title,genres,Year
0,14,58559,5.0,1311530004,Atmospheric,1311530439,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008.0
1,14,58559,5.0,1311530004,Batman,1311530391,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008.0
2,14,58559,5.0,1311530004,comic book,1311530398,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008.0
3,14,58559,5.0,1311530004,dark,1311530428,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008.0
4,14,58559,5.0,1311530004,Heath Ledger,1311530404,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008.0
...,...,...,...,...,...,...,...,...,...
1124064,330923,141854,1.5,1503554287,rape,1503554299,Among Friends (2012),Comedy|Horror,2012.0
1124065,330923,162536,0.5,1507547622,gay romance,1507547612,Truth (2013),Thriller,2013.0
1124066,330923,162536,0.5,1507547622,lgbt,1507547610,Truth (2013),Thriller,2013.0
1124067,330923,162536,0.5,1507547622,political correct,1507547616,Truth (2013),Thriller,2013.0
1124068,330923,162536,0.5,1507547622,politically correct,1507547619,Truth (2013),Thriller,2013.0

In [3]:
data.nunique()

userId          16776
movieId         18861
rating             10
timestamp_x    210141
tag             81988
timestamp_y    961644
title           18836
genres           1035
Year               24
dtype: int64

In [4]:
clean = data.drop(columns=['timestamp_x','timestamp_y','userId','movieId','tag'])
clean

         rating                    title                   genres    Year
0           5.0  Dark Knight, The (2008)  Action|Crime|Drama|IMAX  2008.0
1           5.0  Dark Knight, The (2008)  Action|Crime|Drama|IMAX  2008.0
2           5.0  Dark Knight, The (2008)  Action|Crime|Drama|IMAX  2008.0
3           5.0  Dark Knight, The (2008)  Action|Crime|Drama|IMAX  2008.0
4           5.0  Dark Knight, The (2008)  Action|Crime|Drama|IMAX  2008.0
...         ...                      ...                      ...     ...
1124064     1.5     Among Friends (2012)            Comedy|Horror  2012.0
1124065     0.5             Truth (2013)                 Thriller  2013.0
1124066     0.5             Truth (2013)                 Thriller  2013.0
1124067     0.5             Truth (2013)                 Thriller  2013.0
1124068     0.5             Truth (2013)                 Thriller  2013.0

[1124069 rows x 4 columns]

In [15]:
sorted_df = clean.sort_values('title')
sorted_df

         rating           title              genres    Year
1032986     3.0          (2019)      Drama|Thriller  2019.0
1032992     2.5          (2019)      Drama|Thriller  2019.0
1032991     1.5          (2019)      Drama|Thriller  2019.0
1032985     3.0          (2019)      Drama|Thriller  2019.0
1032987     3.0          (2019)      Drama|Thriller  2019.0
...         ...             ...                 ...     ...
1098800     3.0  チェブラーシカ (2010)  Animation|Children  2010.0
1101038     1.5     貞子3D (2012)              Horror  2012.0
1101039     1.5     貞子3D (2012)              Horror  2012.0
1101040     1.5     貞子3D (2012)              Horror  2012.0
1119008     5.0     줄탁동시 (2012)  (no genres listed)  2012.0

[1124069 rows x 4 columns]

In [16]:
stats_df = sorted_df.groupby('title')['rating'].agg(['mean', 'count'])
stats_df

                                mean  count
title
 (2019)                     2.500000      8
"Sr." (2022)                4.500000      1
#1 Cheerleader Camp (2010)  2.000000     10
#Alive (2020)               3.534091     44
#FollowMe (2019)            4.428571      7
...                              ...    ...
Я худею (2018)              3.285714      7
キサラギ (2007)                 4.500000      2
チェブラーシカ (2010)              3.000000      4
貞子3D (2012)                 1.500000      3
줄탁동시 (2012)                 5.000000      1

[18836 rows x 2 columns]

In [17]:
stats_df.columns = ['average_rating', 'rating_count']

In [18]:
stats_df.reset_index(inplace=True)

In [19]:
sorted_df = pd.merge(sorted_df, stats_df, on='title')

In [22]:
sorted_df.drop_duplicates(subset='title', inplace=True)
sorted_df = sorted_df[['rating', 'title', 'genres', 'Year', 'average_rating', 'rating_count']]
sorted_df = sorted_df.drop(columns="rating")

KeyError: "['rating'] not in index"

In [27]:
sorted_df = sorted_df.round({'average_rating': 2})
sorted_df = sorted_df.sort_values('rating_count', ascending=False)

In [28]:
sorted_df.to_csv("GroupLensData_reduced.csv")

In [26]:
sorted_df.genres.str.split('|',expand=True)

,0,1,2,3,4,5,6,7,8,9
0,Drama,Thriller,None,None,None,None,None,None,None,None
8,Documentary,None,None,None,None,None,None,None,None,None
9,Comedy,Drama,None,None,None,None,None,None,None,None
19,Action,Horror,Thriller,None,None,None,None,None,None,None
63,Horror,Thriller,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
1124052,Children,Comedy,None,None,None,None,None,None,None,None
1124059,Comedy,Mystery,None,None,None,None,None,None,None,None
1124061,Animation,Children,None,None,None,None,None,None,None,None
1124065,Horror,None,None,None,None,None,None,None,None,None
1124068,(no genres listed),None,None,None,None,None,None,None,None,None

In [42]:
from sklearn.cluster import KMeans

k = range(1,11)

inertia = [ KMeans(i,random_state=42).fit(clean).inertia_ for i in k ]