In [59]:
import pandas as pd

In [60]:
# genome_scores = pd.read_csv('./genome-scores.csv')
# genome_tags = pd.read_csv('./genome-tags.csv')
# links = pd.read_csv('./links.csv')
# movies = pd.read_csv('./movies.csv')
# ratings = pd.read_csv('./ratings.csv')
# tags = pd.read_csv('./tags.csv')
data = pd.read_csv('./GroupLensData_clean.csv')
data

,userId,movieId,rating,timestamp_x,tag,timestamp_y,title,genres,Year
0,14,58559,5.0,1311530004,Atmospheric,1311530439,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008.0
1,14,58559,5.0,1311530004,Batman,1311530391,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008.0
2,14,58559,5.0,1311530004,comic book,1311530398,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008.0
3,14,58559,5.0,1311530004,dark,1311530428,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008.0
4,14,58559,5.0,1311530004,Heath Ledger,1311530404,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,2008.0
...,...,...,...,...,...,...,...,...,...
1124064,330923,141854,1.5,1503554287,rape,1503554299,Among Friends (2012),Comedy|Horror,2012.0
1124065,330923,162536,0.5,1507547622,gay romance,1507547612,Truth (2013),Thriller,2013.0
1124066,330923,162536,0.5,1507547622,lgbt,1507547610,Truth (2013),Thriller,2013.0
1124067,330923,162536,0.5,1507547622,political correct,1507547616,Truth (2013),Thriller,2013.0
1124068,330923,162536,0.5,1507547622,politically correct,1507547619,Truth (2013),Thriller,2013.0

In [61]:
data.nunique()

userId          16776
movieId         18861
rating             10
timestamp_x    210141
tag             81988
timestamp_y    961644
title           18836
genres           1035
Year               24
dtype: int64

In [62]:
clean = data.drop(columns=['timestamp_x','timestamp_y','userId','movieId','tag'])
clean

         rating                    title                   genres    Year
0           5.0  Dark Knight, The (2008)  Action|Crime|Drama|IMAX  2008.0
1           5.0  Dark Knight, The (2008)  Action|Crime|Drama|IMAX  2008.0
2           5.0  Dark Knight, The (2008)  Action|Crime|Drama|IMAX  2008.0
3           5.0  Dark Knight, The (2008)  Action|Crime|Drama|IMAX  2008.0
4           5.0  Dark Knight, The (2008)  Action|Crime|Drama|IMAX  2008.0
...         ...                      ...                      ...     ...
1124064     1.5     Among Friends (2012)            Comedy|Horror  2012.0
1124065     0.5             Truth (2013)                 Thriller  2013.0
1124066     0.5             Truth (2013)                 Thriller  2013.0
1124067     0.5             Truth (2013)                 Thriller  2013.0
1124068     0.5             Truth (2013)                 Thriller  2013.0

[1124069 rows x 4 columns]

In [73]:
clean.genres.nunique()

1035

In [63]:
sorted_df =         clean.sort_values('title')
stats_df  =         sorted_df.groupby('title')['rating'].agg(['mean', 'count'])
stats_df.columns =  ['average_rating', 'rating_count']
stats_df.reset_index(inplace=True)
sorted_df =         pd.merge(sorted_df, stats_df, on='title')
sorted_df.drop_duplicates(subset='title', inplace=True)
sorted_df =         sorted_df[['rating', 'title', 'genres', 'Year', 'average_rating', 'rating_count']]
sorted_df =         sorted_df.drop(columns="rating")
sorted_df =         sorted_df.round({'average_rating': 2})
sorted_df.sort_values('rating_count', ascending=False)
sorted_df

,title,genres,Year,average_rating,rating_count
0,(2019),Drama|Thriller,2019.0,2.50,8
8,"""Sr."" (2022)",Documentary,2022.0,4.50,1
9,#1 Cheerleader Camp (2010),Comedy|Drama,2010.0,2.00,10
19,#Alive (2020),Action|Horror|Thriller,2020.0,3.53,44
63,#FollowMe (2019),Horror|Thriller,2019.0,4.43,7
...,...,...,...,...,...
1124052,Я худею (2018),Children|Comedy,2018.0,3.29,7
1124059,キサラギ (2007),Comedy|Mystery,2007.0,4.50,2
1124061,チェブラーシカ (2010),Animation|Children,2010.0,3.00,4
1124065,貞子3D (2012),Horror,2012.0,1.50,3
1124068,줄탁동시 (2012),(no genres listed),2012.0,5.00,1

In [74]:
sorted_df.genres.nunique()

1035

In [64]:
clean.genres.str.split('|',expand=True)

                0       1      2     3     4     5     6     7     8     9
0          Action   Crime  Drama  IMAX  None  None  None  None  None  None
1          Action   Crime  Drama  IMAX  None  None  None  None  None  None
2          Action   Crime  Drama  IMAX  None  None  None  None  None  None
3          Action   Crime  Drama  IMAX  None  None  None  None  None  None
4          Action   Crime  Drama  IMAX  None  None  None  None  None  None
...           ...     ...    ...   ...   ...   ...   ...   ...   ...   ...
1124064    Comedy  Horror   None  None  None  None  None  None  None  None
1124065  Thriller    None   None  None  None  None  None  None  None  None
1124066  Thriller    None   None  None  None  None  None  None  None  None
1124067  Thriller    None   None  None  None  None  None  None  None  None
1124068  Thriller    None   None  None  None  None  None  None  None  None

[1124069 rows x 10 columns]

In [65]:
order_values= clean.values.tolist()
print(type(order_values))
order_values[:2]

<class 'list'>

[[5.0, 'Dark Knight, The (2008)', 'Action|Crime|Drama|IMAX', 2008.0],
 [5.0, 'Dark Knight, The (2008)', 'Action|Crime|Drama|IMAX', 2008.0]]

In [66]:
orders_list = []
for item in order_values:
    
    orders_list.append(item[2].split("|"))

orders_list[1]

['Action', 'Crime', 'Drama', 'IMAX']

In [ ]:
pd.get_dummies(clean)

MemoryError: Unable to allocate 19.7 GiB for an array with shape (18836, 1124069) and data type bool

In [ ]:
from sklearn.cluster import KMeans

k = range(1,11)

inertia = [ KMeans(i,random_state=42).fit(clean).inertia_ for i in k ]